<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="Jatin's Work - Password & Email Validator CLI" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Jatin Goyal" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='assets/apple-icon-180x180.png')}}">
  <link href="{{url_for('static',filename='assets/favicon.ico')}}" rel="icon">

  <title>005 : Password & Email Validator CLI</title>

  <link href="{{url_for('static',filename='main.3f6952e4.css')}}" rel="stylesheet">
</head>

<body class="">
  <div id="site-border-left"></div>
  <div id="site-border-right"></div>
  <div id="site-border-top"></div>
  <div id="site-border-bottom"></div>
  <!-- Add your content of header -->
  <header>
    <nav class="navbar  navbar-fixed-top navbar-default">
      <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav ">
            <li><a href="{{ url_for('render_page', page_name='index.html') }}" title="">01 : Home</a></li>
            <li><a href="{{ url_for('render_page', page_name='works.html') }}" title="">02 : Works</a></li>
            <li><a href="{{ url_for('render_page', page_name='about.html') }}" title="">03 : About me</a></li>
            <li><a href="{{ url_for('render_page', page_name='contact.html') }}" title="">04 : Contact</a></li>
          </ul>


          <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            <li><a href="{{url_for('render_page',page_name='work1.html')}}" title="">001</a></li>
            <li><a href="{{url_for('render_page',page_name='work2.html')}}" title="">002</a></li>
            <li><a href="{{url_for('render_page',page_name='work3.html')}}" title="">003</a></li>
            <li><a href="{{url_for('render_page',page_name='work4.html')}}" title="">004</a></li>
            <li><a href="{{url_for('render_page',page_name='work5.html')}}" title="" class="active">005</a></li>
            <li><a href="{{url_for('render_page',page_name='work6.html')}}" title="">006</a></li>
          </ul>


        </div>
      </div>
    </nav>
  </header>
  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <img src="{{url_for('static',filename='assets/images/work001-04.jpg')}}" class="img-responsive" alt="">
          <div class="card-container">
            <div class="text-center">
              <h1 class="h2">005 : Password & Email Validator CLI</h1>
            </div>
            <p>A suite of command-line validation tools created in Python. Utilizing complex regular expressions, the tool verifies email syntax compliance and tests password complexity against modern security standards, delivering instant CLI feedback.</p>

            <blockquote>
              <p>"Strict regex patterns and instant validation feedback form essential building blocks for secure automated applications."</p>
              <small class="pull-right">Jatin Goyal</small>
            </blockquote>
          </div>
        </div>



        <div class="col-md-8 col-md-offset-2 section-container-spacer">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <img src="{{url_for('static',filename='assets/images/work001-02.jpg')}}" class="img-responsive" alt="">
              <p>Regex pattern compiler and email syntax checker</p>
            </div>
            <div class="col-xs-12 col-md-6">
              <img src="{{url_for('static',filename='assets/images/work001-03.jpg')}}" class="img-responsive" alt="">
              <p>CLI password complexity and breach verification</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12">
          <img src="{{url_for('static',filename='assets/images/work001-01.jpg')}}" class="img-responsive" alt="">
        </div>

      </div>
    </div>
  </div>


  <footer class="footer-container text-center">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </footer>

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navActivePage();
    });
  </script>

  <script type="text/javascript" src="{{url_for('static',filename='main.70a66962.js')}}"></script>
</body>

</html>
