<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>My Portfolio</title>
</head>

<body>

    <h1>Flask Testing Home</h1>
    <p>Name:- {{ name }} - Post ID: {{ post_id }}</p>
    <p>I wanna be a Python and AI Master</p>
    <!-- Scenario E: Linking to routes, not files -->
    <!-- <p><a href="/about">Go to About Page (Proper HTML)</a></p> -->
    <p><a href="/company/about">Go to About Page (Proper HTML)</a></p>
    <p><a href="/blog">Go to Blog Page (String only)</a></p>
    <p><a href="about.html">Broken Link (Will cause 404 error)</a></p>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>